In [1]:
import pandas as pd
import os

folder = 'data/'
vegetables = sorted([f.split('.')[0] for f in os.listdir(folder) if f.endswith('.csv')][:-1])

dataframes = {}

for vegetable in vegetables:
    dataframes[vegetable] = pd.read_csv(f'{folder}/{vegetable}.csv', index_col='Date', parse_dates=True)

In [2]:
dataframes['Tomato'].tail()

,Bandarawela,Dambulla,Kandy,Keppetipola,Meegoda,Norochchole,Nuwaraeliya,Peliyagoda,Thambuththegama,Veyangoda
Date,,,,,,,,,,
2023-12-25,115.0,125.00,139.29,240.0,330.00,255.00,240.0,160.0,181.11,115.00
2023-12-26,150.0,351.67,356.67,350.0,315.00,365.00,325.0,182.5,100.00,122.50
2023-12-27,155.0,105.00,231.67,125.0,160.00,421.67,250.0,165.0,121.67,135.00
2023-12-28,285.0,170.00,255.00,375.0,85.00,278.75,210.0,105.0,475.00,259.17
2023-12-29,155.0,216.67,271.67,110.0,256.67,225.00,165.0,270.0,525.00,139.00

In [3]:
for vegetable in vegetables:
    df = dataframes[vegetable]
    df = df[df.index < '2023-01-01']
    dataframes[vegetable] = df

In [4]:
for vegetable in vegetables:
    dataframes[vegetable].to_csv(f'{folder}/{vegetable}.csv')

In [1]:
import pandas as pd

leaks = pd.read_csv('./Data/NewData/leaks.csv', index_col='Date', parse_dates=True)

In [2]:
date_range = pd.date_range(start=leaks.index.min(), end=leaks.index.max())
leaks = leaks.reindex(date_range)
leaks.tail()

            Unnamed: 0  Kandy  Dambulla  Buy Rate
2023-12-25         NaN    NaN       NaN       NaN
2023-12-26         NaN    NaN       NaN       NaN
2023-12-27       957.0  285.0     310.0  320.5347
2023-12-28       958.0  295.0     290.0  319.1454
2023-12-29       959.0  395.0     515.0  319.1762

In [3]:
leaks = leaks.interpolate()
leaks.tail()

            Unnamed: 0  Kandy  Dambulla   Buy Rate
2023-12-25       956.6  275.0     282.0  320.90622
2023-12-26       956.8  280.0     296.0  320.72046
2023-12-27       957.0  285.0     310.0  320.53470
2023-12-28       958.0  295.0     290.0  319.14540
2023-12-29       959.0  395.0     515.0  319.17620

In [4]:
leaks.to_csv('./Data/NewData/Leaks.csv')

In [7]:
leaks = leaks.drop(columns=['Unnamed: 0'])
leaks.round(2)
leaks.tail(10)

KeyError: "['Unnamed: 0'] not found in axis"

In [9]:
leaks.head(10)

                 Kandy  Dambulla  Buy Rate
2020-01-01   75.000000    305.00  179.4845
2020-01-02   75.000000    265.00  179.2450
2020-01-03   75.000000    225.00  179.3145
2020-01-04   75.000000    185.00  179.3346
2020-01-05   75.000000    145.00  179.3547
2020-01-06   75.000000    105.00  179.3748
2020-01-07   75.000000     65.00  179.3846
2020-01-08   68.333333     60.00  179.3748
2020-01-09   61.666667     55.00  179.6836
2020-01-10  123.750000    121.25  179.6164

In [12]:
leaks.to_csv('./Data/NewData/Leaks.csv')

In [11]:
leaks.index.name = 'Date'
leaks.tail(10)

            Kandy  Dambulla   Buy Rate
Date
2023-12-20  240.0     230.0  321.89400
2023-12-21  270.0     265.0  321.92020
2023-12-22  260.0     240.0  321.46350
2023-12-23  265.0     254.0  321.27774
2023-12-24  270.0     268.0  321.09198
2023-12-25  275.0     282.0  320.90622
2023-12-26  280.0     296.0  320.72046
2023-12-27  285.0     310.0  320.53470
2023-12-28  295.0     290.0  319.14540
2023-12-29  395.0     515.0  319.17620