In [22]:
import pandas as pd
import os

folder = 'data/'
vegetables = sorted([f.split('.')[0] for f in os.listdir(folder) if f.endswith('.csv')][:-1])

dataframes = {}

for vegetable in vegetables:
    dataframes[vegetable] = pd.read_csv(f'{folder}/{vegetable}.csv', index_col='Date', parse_dates=True)

dataframes['Beans'].head()

,Bandarawela,Dambulla,Kandy,Keppetipola,Meegoda,Norochchole,Nuwaraeliya,Peliyagoda,Thambuththegama,Veyangoda
Date,,,,,,,,,,
2020-01-01,315.0,315.00,310.00,311.00,312.0,314.00,310.0,313.00,314.0,310.00
2020-01-02,278.5,279.17,274.17,275.33,276.5,278.33,274.5,277.33,277.5,274.67
2020-01-03,242.0,243.33,238.33,239.67,241.0,242.67,239.0,241.67,241.0,239.33
2020-01-04,205.5,207.50,202.50,204.00,205.5,207.00,203.5,206.00,204.5,204.00
2020-01-05,169.0,171.67,166.67,168.33,170.0,171.33,168.0,170.33,168.0,168.67

In [23]:
for vegetable in vegetables:
    for col in dataframes[vegetable].columns:
        dataframes[vegetable].rename(columns={col: f'{col}_{vegetable}'}, inplace=True)

combined_df = pd.concat(dataframes.values(), axis=1)
combined_df = combined_df[combined_df.index >= '2023-01-01']

combined_df.head()

,Bandarawela_Beans,Dambulla_Beans,Kandy_Beans,Keppetipola_Beans,Meegoda_Beans,Norochchole_Beans,Nuwaraeliya_Beans,Peliyagoda_Beans,Thambuththegama_Beans,Veyangoda_Beans,...,Bandarawela_Tomato,Dambulla_Tomato,Kandy_Tomato,Keppetipola_Tomato,Meegoda_Tomato,Norochchole_Tomato,Nuwaraeliya_Tomato,Peliyagoda_Tomato,Thambuththegama_Tomato,Veyangoda_Tomato
Date,,,,,,,,,,,,,,,,,,,,,
2023-01-01,570.67,525.0,613.33,565.67,534.0,607.0,586.67,574.67,576.67,589.67,...,205.00,157.50,270.0,140.00,155.00,360.00,97.00,301.5,317.5,302.62
2023-01-02,598.00,550.0,645.00,609.00,553.0,638.0,608.00,613.00,593.00,614.00,...,210.00,375.00,230.0,186.67,91.67,176.90,100.00,300.0,285.0,370.00
2023-01-03,594.00,575.0,635.00,583.00,600.0,595.0,610.00,609.00,583.00,632.00,...,147.38,335.00,325.0,144.17,337.50,265.00,410.00,100.0,225.0,340.00
2023-01-04,537.00,565.0,525.00,525.00,553.0,539.0,526.00,559.00,560.00,525.00,...,175.00,81.67,240.0,170.00,458.33,325.00,117.22,175.0,135.0,215.00
2023-01-05,516.00,525.0,500.00,503.00,512.0,500.0,503.00,515.00,523.00,516.00,...,294.09,75.00,132.5,158.33,121.67,86.67,145.48,327.0,270.0,230.00

In [24]:
combined_df.to_csv('./Data/ultimate.csv')

In [25]:
data = pd.read_csv('./Data/ultimate.csv')
data['Date'] = pd.to_datetime(data['Date'])
data.head(20)

,Date,Bandarawela_Beans,Dambulla_Beans,Kandy_Beans,Keppetipola_Beans,Meegoda_Beans,Norochchole_Beans,Nuwaraeliya_Beans,Peliyagoda_Beans,Thambuththegama_Beans,...,Bandarawela_Tomato,Dambulla_Tomato,Kandy_Tomato,Keppetipola_Tomato,Meegoda_Tomato,Norochchole_Tomato,Nuwaraeliya_Tomato,Peliyagoda_Tomato,Thambuththegama_Tomato,Veyangoda_Tomato
0,2023-01-01,570.67,525.00,613.33,565.67,534.00,607.00,586.67,574.67,576.67,...,205.00,157.50,270.00,140.00,155.00,360.00,97.00,301.50,317.50,302.62
1,2023-01-02,598.00,550.00,645.00,609.00,553.00,638.00,608.00,613.00,593.00,...,210.00,375.00,230.00,186.67,91.67,176.90,100.00,300.00,285.00,370.00
2,2023-01-03,594.00,575.00,635.00,583.00,600.00,595.00,610.00,609.00,583.00,...,147.38,335.00,325.00,144.17,337.50,265.00,410.00,100.00,225.00,340.00
3,2023-01-04,537.00,565.00,525.00,525.00,553.00,539.00,526.00,559.00,560.00,...,175.00,81.67,240.00,170.00,458.33,325.00,117.22,175.00,135.00,215.00
4,2023-01-05,516.00,525.00,500.00,503.00,512.00,500.00,503.00,515.00,523.00,...,294.09,75.00,132.50,158.33,121.67,86.67,145.48,327.00,270.00,230.00
5,2023-01-06,455.25,462.50,430.00,440.75,447.25,432.75,432.25,450.00,457.75,...,155.00,101.67,132.50,490.00,115.00,137.14,160.00,110.00,138.33,200.00
6,2023-01-07,394.50,400.00,360.00,378.50,382.50,365.50,361.50,385.00,392.50,...,150.00,125.00,120.00,115.00,140.00,140.00,100.00,165.00,335.00,141.67
7,2023-01-08,333.75,337.50,290.00,316.25,317.75,298.25,290.75,320.00,327.25,...,179.00,500.00,240.00,62.50,325.00,95.00,105.00,97.50,160.00,115.00
8,2023-01-09,273.00,275.00,220.00,254.00,253.00,231.00,220.00,255.00,262.00,...,155.00,129.17,175.00,200.00,550.00,310.00,272.50,240.00,155.00,201.67
9,2023-01-10,315.00,315.00,325.00,322.00,319.00,319.00,324.00,315.00,316.00,...,270.00,260.00,170.00,425.00,375.00,260.00,207.50,317.50,153.33,133.57
10,2023-01-11,325.00,325.00,425.00,347.00,399.00,343.00,413.00,420.00,381.00,...,78.33,163.33,85.00,125.00,124.55,420.00,192.50,115.00,215.00,85.00
11,2023-01-12,476.00,400.00,515.00,433.00,417.00,492.00,452.00,422.00,467.00,...,147.50,270.00,115.00,152.50,161.67,290.00,127.50,93.33,85.00,135.00
12,2023-01-13,465.00,406.25,495.00,432.25,421.25,475.25,446.50,422.75,456.50,...,145.00,145.00,415.00,205.00,340.00,240.00,155.00,171.00,225.00,221.67
13,2023-01-14,454.00,412.50,475.00,431.50,425.50,458.50,441.00,423.50,446.00,...,275.00,390.00,322.00,330.00,112.27,155.00,111.67,386.67,340.00,115.00
14,2023-01-15,443.00,418.75,455.00,430.75,429.75,441.75,435.50,424.25,435.50,...,177.50,265.00,298.33,207.50,270.00,270.00,193.33,130.00,117.50,115.00
15,2023-01-16,432.00,425.00,435.00,430.00,434.00,425.00,430.00,425.00,425.00,...,145.00,102.50,108.33,95.00,85.00,135.00,237.50,143.33,234.50,140.00
16,2023-01-17,375.00,375.00,375.00,375.00,375.00,375.00,375.00,375.00,375.00,...,159.76,250.00,270.00,205.00,190.00,190.00,222.00,365.00,200.00,240.00
17,2023-01-18,284.00,290.00,275.00,285.00,278.00,275.00,277.00,281.00,285.00,...,85.00,275.00,300.00,125.00,95.00,192.50,425.00,290.00,375.00,175.00
18,2023-01-19,275.00,275.00,275.00,275.00,275.00,275.00,275.00,275.00,275.00,...,140.48,271.67,110.00,260.00,152.50,475.00,265.00,276.25,255.00,300.00
19,2023-01-20,275.00,275.00,275.00,275.00,275.00,275.00,275.00,275.00,275.00,...,155.00,371.67,192.50,260.00,207.38,145.00,285.00,241.67,415.00,190.00

In [26]:
import firebase_admin
from firebase_admin import credentials, firestore

In [27]:
for _, row in data.iterrows():
    print(str(row['Date'].date()))

2023-01-01
2023-01-02
2023-01-03
2023-01-04
2023-01-05
2023-01-06
2023-01-07
2023-01-08
2023-01-09
2023-01-10
2023-01-11
2023-01-12
2023-01-13
2023-01-14
2023-01-15
2023-01-16
2023-01-17
2023-01-18
2023-01-19
2023-01-20
2023-01-21
2023-01-22
2023-01-23
2023-01-24
2023-01-25
2023-01-26
2023-01-27
2023-01-28
2023-01-29
2023-01-30
2023-01-31
2023-02-01
2023-02-02
2023-02-03
2023-02-04
2023-02-05
2023-02-06
2023-02-07
2023-02-08
2023-02-09
2023-02-10
2023-02-11
2023-02-12
2023-02-13
2023-02-14
2023-02-15
2023-02-16
2023-02-17
2023-02-18
2023-02-19
2023-02-20
2023-02-21
2023-02-22
2023-02-23
2023-02-24
2023-02-25
2023-02-26
2023-02-27
2023-02-28
2023-03-01
2023-03-02
2023-03-03
2023-03-04
2023-03-05
2023-03-06
2023-03-07
2023-03-08
2023-03-09
2023-03-10
2023-03-11
2023-03-12
2023-03-13
2023-03-14
2023-03-15
2023-03-16
2023-03-17
2023-03-18
2023-03-19
2023-03-20
2023-03-21
2023-03-22
2023-03-23
2023-03-24
2023-03-25
2023-03-26
2023-03-27
2023-03-28
2023-03-29
2023-03-30
2023-03-31
2023-04-01
2023-04-02
2023-04-03
2023-04-04
2023-04-05
2023-04-06
2023-04-07
2023-04-08
2023-04-09
2023-04-10
2023-04-11
2023-04-12
2023-04-13
2023-04-14
2023-04-15
2023-04-16
2023-04-17
2023-04-18
2023-04-19
2023-04-20
2023-04-21
2023-04-22
2023-04-23
2023-04-24
2023-04-25
2023-04-26
2023-04-27
2023-04-28
2023-04-29
2023-04-30
2023-05-01
2023-05-02
2023-05-03
2023-05-04
2023-05-05
2023-05-06
2023-05-07
2023-05-08
2023-05-09
2023-05-10
2023-05-11
2023-05-12
2023-05-13
2023-05-14
2023-05-15
2023-05-16
2023-05-17
2023-05-18
2023-05-19
2023-05-20
2023-05-21
2023-05-22
2023-05-23
2023-05-24
2023-05-25
2023-05-26
2023-05-27
2023-05-28
2023-05-29
2023-05-30
2023-05-31
2023-06-01
2023-06-02
2023-06-03
2023-06-04
2023-06-05
2023-06-06
2023-06-07
2023-06-08
2023-06-09
2023-06-10
2023-06-11
2023-06-12
2023-06-13
2023-06-14
2023-06-15
2023-06-16
2023-06-17
2023-06-18
2023-06-19
2023-06-20
2023-06-21
2023-06-22
2023-06-23
2023-06-24
2023-06-25
2023-06-26
2023-06-27
2023-06-28
2023-06-29
2023-06-30
2023-07-01
2023-07-02
2023-07-03
2023-07-04
2023-07-05
2023-07-06
2023-07-07
2023-07-08
2023-07-09
2023-07-10
2023-07-11
2023-07-12
2023-07-13
2023-07-14
2023-07-15
2023-07-16
2023-07-17
2023-07-18
2023-07-19
2023-07-20
2023-07-21
2023-07-22
2023-07-23
2023-07-24
2023-07-25
2023-07-26
2023-07-27
2023-07-28
2023-07-29
2023-07-30
2023-07-31
2023-08-01
2023-08-02
2023-08-03
2023-08-04
2023-08-05
2023-08-06
2023-08-07
2023-08-08
2023-08-09
2023-08-10
2023-08-11
2023-08-12
2023-08-13
2023-08-14
2023-08-15
2023-08-16
2023-08-17
2023-08-18
2023-08-19
2023-08-20
2023-08-21
2023-08-22
2023-08-23
2023-08-24
2023-08-25
2023-08-26
2023-08-27
2023-08-28
2023-08-29
2023-08-30
2023-08-31
2023-09-01
2023-09-02
2023-09-03
2023-09-04
2023-09-05
2023-09-06
2023-09-07
2023-09-08
2023-09-09
2023-09-10
2023-09-11
2023-09-12
2023-09-13
2023-09-14
2023-09-15
2023-09-16
2023-09-17
2023-09-18
2023-09-19
2023-09-20
2023-09-21
2023-09-22
2023-09-23
2023-09-24
2023-09-25
2023-09-26
2023-09-27
2023-09-28
2023-09-29
2023-09-30
2023-10-01
2023-10-02
2023-10-03
2023-10-04
2023-10-05
2023-10-06
2023-10-07
2023-10-08
2023-10-09
2023-10-10
2023-10-11
2023-10-12
2023-10-13
2023-10-14
2023-10-15
2023-10-16
2023-10-17
2023-10-18
2023-10-19
2023-10-20
2023-10-21
2023-10-22
2023-10-23
2023-10-24
2023-10-25
2023-10-26
2023-10-27
2023-10-28
2023-10-29
2023-10-30
2023-10-31
2023-11-01
2023-11-02
2023-11-03
2023-11-04
2023-11-05
2023-11-06
2023-11-07
2023-11-08
2023-11-09
2023-11-10
2023-11-11
2023-11-12
2023-11-13
2023-11-14
2023-11-15
2023-11-16
2023-11-17
2023-11-18
2023-11-19
2023-11-20
2023-11-21
2023-11-22
2023-11-23
2023-11-24
2023-11-25
2023-11-26
2023-11-27
2023-11-28
2023-11-29
2023-11-30
2023-12-01
2023-12-02
2023-12-03
2023-12-04
2023-12-05
2023-12-06
2023-12-07
2023-12-08
2023-12-09
2023-12-10
2023-12-11
2023-12-12
2023-12-13
2023-12-14
2023-12-15
2023-12-16
2023-12-17
2023-12-18
2023-12-19
2023-12-20
2023-12-21
2023-12-22
2023-12-23
2023-12-24
2023-12-25
2023-12-26
2023-12-27
2023-12-28
2023-12-29

In [28]:
cred = credentials.Certificate('./firebase.json')
firebase_admin.initialize_app(cred)

db = firestore.client()

for _, row in data.iterrows():
    
    doc_id = str(row['Date'].date())
    row_dict = row.to_dict()

    db.collection('Data').document(doc_id).set(row_dict)