In [3]:
import pandas as pd
import os

folder = 'Data/NewData'
vegetables = sorted([f.split('.')[0] for f in os.listdir(folder) if f.endswith('.csv')][:-1])

dataframes = {}

for vegetable in vegetables:
    dataframes[vegetable] = pd.read_csv(f'{folder}/{vegetable}.csv', index_col='Date', parse_dates=True)
    dataframes[vegetable].to_csv(f'{folder}/{vegetable}.csv')

dataframes['Leaks'].head()

            Kandy  Dambulla  Buy Rate
Date
2020-01-01   75.0     305.0    179.48
2020-01-02   75.0     265.0    179.24
2020-01-03   75.0     225.0    179.31
2020-01-04   75.0     185.0    179.33
2020-01-05   75.0     145.0    179.35

In [4]:
for vegetable in vegetables:
    for col in dataframes[vegetable].columns:
        dataframes[vegetable].rename(columns={col: f'{col}_{vegetable}'}, inplace=True)

combined_df = pd.concat(dataframes.values(), axis=1)
combined_df = combined_df[combined_df.index >= '2023-01-01']

combined_df.head()

,Kandy_Beans,Dambulla_Beans,Buy Rate_Beans,Kandy_Carrot,Dambulla_Carrot,Buy Rate_Carrot,Kandy_Leaks,Dambulla_Leaks,Buy Rate_Leaks,Kandy_Tomato,Dambulla_Tomato,Buy Rate_Tomato
Date,,,,,,,,,,,,
2023-01-01,613.33,525.0,363.11,138.33,130.00,363.11,206.67,203.33,360.41,173.33,173.33,360.41
2023-01-02,645.00,550.0,363.11,95.00,95.00,363.11,155.00,165.00,360.41,175.00,185.00,360.41
2023-01-03,635.00,575.0,363.11,105.00,100.00,363.11,175.00,160.00,360.22,140.00,125.00,360.22
2023-01-04,525.00,565.0,363.11,183.33,168.33,363.11,198.33,193.33,359.97,170.00,160.00,359.97
2023-01-05,500.00,525.0,363.11,261.67,236.67,363.11,221.67,226.67,359.97,200.00,195.00,359.97

In [5]:
combined_df.tail()

,Kandy_Beans,Dambulla_Beans,Buy Rate_Beans,Kandy_Carrot,Dambulla_Carrot,Buy Rate_Carrot,Kandy_Leaks,Dambulla_Leaks,Buy Rate_Leaks,Kandy_Tomato,Dambulla_Tomato,Buy Rate_Tomato
Date,,,,,,,,,,,,
2023-12-25,555.0,466.0,325.99,499.0,496.0,325.99,275.0,282.0,320.91,390.0,378.0,320.91
2023-12-26,565.0,483.0,325.86,532.0,523.0,325.86,280.0,296.0,320.72,350.0,349.0,320.72
2023-12-27,575.0,500.0,325.74,565.0,550.0,325.74,285.0,310.0,320.53,310.0,320.0,320.53
2023-12-28,525.0,550.0,324.23,565.0,575.0,324.23,295.0,290.0,319.15,335.0,295.0,319.15
2023-12-29,590.0,475.0,323.92,625.0,725.0,323.92,395.0,515.0,319.18,525.0,350.0,319.18

In [6]:
combined_df.to_csv(f'./{folder}/ultimate.csv')

In [7]:
data = pd.read_csv(f'./{folder}/ultimate.csv')
data['Date'] = pd.to_datetime(data['Date'])
data.head(20)

,Date,Kandy_Beans,Dambulla_Beans,Buy Rate_Beans,Kandy_Carrot,Dambulla_Carrot,Buy Rate_Carrot,Kandy_Leaks,Dambulla_Leaks,Buy Rate_Leaks,Kandy_Tomato,Dambulla_Tomato,Buy Rate_Tomato
0,2023-01-01,613.33,525.00,363.11,138.33,130.00,363.11,206.67,203.33,360.41,173.33,173.33,360.41
1,2023-01-02,645.00,550.00,363.11,95.00,95.00,363.11,155.00,165.00,360.41,175.00,185.00,360.41
2,2023-01-03,635.00,575.00,363.11,105.00,100.00,363.11,175.00,160.00,360.22,140.00,125.00,360.22
3,2023-01-04,525.00,565.00,363.11,183.33,168.33,363.11,198.33,193.33,359.97,170.00,160.00,359.97
4,2023-01-05,500.00,525.00,363.11,261.67,236.67,363.11,221.67,226.67,359.97,200.00,195.00,359.97
5,2023-01-06,430.00,462.50,363.11,340.00,305.00,363.11,187.50,193.75,359.97,168.75,161.25,359.97
6,2023-01-07,360.00,400.00,363.10,313.33,290.00,363.10,153.33,160.83,359.96,137.50,127.50,359.96
7,2023-01-08,290.00,337.50,363.10,286.67,275.00,363.10,119.17,127.92,359.95,106.25,93.75,359.95
8,2023-01-09,220.00,275.00,363.09,260.00,260.00,363.09,85.00,95.00,359.95,75.00,60.00,359.95
9,2023-01-10,325.00,315.00,362.24,255.00,250.00,362.24,97.50,102.50,360.06,85.00,80.00,360.06
10,2023-01-11,425.00,325.00,362.24,250.00,240.00,362.24,110.00,110.00,360.47,95.00,100.00,360.47
11,2023-01-12,515.00,400.00,362.24,300.00,270.00,362.24,210.00,200.00,360.39,335.00,375.00,360.39
12,2023-01-13,495.00,406.25,362.24,268.75,230.00,362.24,225.00,200.00,360.40,291.25,322.50,360.40
13,2023-01-14,475.00,412.50,362.24,237.50,190.00,362.24,232.50,205.00,360.40,259.69,280.62,360.40
14,2023-01-15,455.00,418.75,362.24,206.25,150.00,362.24,240.00,210.00,360.40,228.12,238.75,360.40
15,2023-01-16,435.00,425.00,362.24,175.00,110.00,362.24,247.50,215.00,360.41,196.56,196.88,360.41
16,2023-01-17,375.00,375.00,362.24,155.00,135.00,362.24,255.00,220.00,360.41,165.00,155.00,360.41
17,2023-01-18,275.00,290.00,362.24,150.00,160.00,362.24,235.00,315.00,360.41,150.00,135.00,360.41
18,2023-01-19,275.00,275.00,362.27,150.00,120.00,362.27,235.00,210.00,360.56,140.00,130.00,360.56
19,2023-01-20,275.00,275.00,362.17,110.00,115.00,362.17,215.00,215.00,360.55,145.00,140.00,360.55

In [8]:
import firebase_admin
from firebase_admin import credentials, firestore

In [9]:
for _, row in data.iterrows():
    print(str(row['Date'].date()))

2023-01-01
2023-01-02
2023-01-03
2023-01-04
2023-01-05
2023-01-06
2023-01-07
2023-01-08
2023-01-09
2023-01-10
2023-01-11
2023-01-12
2023-01-13
2023-01-14
2023-01-15
2023-01-16
2023-01-17
2023-01-18
2023-01-19
2023-01-20
2023-01-21
2023-01-22
2023-01-23
2023-01-24
2023-01-25
2023-01-26
2023-01-27
2023-01-28
2023-01-29
2023-01-30
2023-01-31
2023-02-01
2023-02-02
2023-02-03
2023-02-04
2023-02-05
2023-02-06
2023-02-07
2023-02-08
2023-02-09
2023-02-10
2023-02-11
2023-02-12
2023-02-13
2023-02-14
2023-02-15
2023-02-16
2023-02-17
2023-02-18
2023-02-19
2023-02-20
2023-02-21
2023-02-22
2023-02-23
2023-02-24
2023-02-25
2023-02-26
2023-02-27
2023-02-28
2023-03-01
2023-03-02
2023-03-03
2023-03-04
2023-03-05
2023-03-06
2023-03-07
2023-03-08
2023-03-09
2023-03-10
2023-03-11
2023-03-12
2023-03-13
2023-03-14
2023-03-15
2023-03-16
2023-03-17
2023-03-18
2023-03-19
2023-03-20
2023-03-21
2023-03-22
2023-03-23
2023-03-24
2023-03-25
2023-03-26
2023-03-27
2023-03-28
2023-03-29
2023-03-30
2023-03-31
2023-04-01
2023-04-02
2023-04-03
2023-04-04
2023-04-05
2023-04-06
2023-04-07
2023-04-08
2023-04-09
2023-04-10
2023-04-11
2023-04-12
2023-04-13
2023-04-14
2023-04-15
2023-04-16
2023-04-17
2023-04-18
2023-04-19
2023-04-20
2023-04-21
2023-04-22
2023-04-23
2023-04-24
2023-04-25
2023-04-26
2023-04-27
2023-04-28
2023-04-29
2023-04-30
2023-05-01
2023-05-02
2023-05-03
2023-05-04
2023-05-05
2023-05-06
2023-05-07
2023-05-08
2023-05-09
2023-05-10
2023-05-11
2023-05-12
2023-05-13
2023-05-14
2023-05-15
2023-05-16
2023-05-17
2023-05-18
2023-05-19
2023-05-20
2023-05-21
2023-05-22
2023-05-23
2023-05-24
2023-05-25
2023-05-26
2023-05-27
2023-05-28
2023-05-29
2023-05-30
2023-05-31
2023-06-01
2023-06-02
2023-06-03
2023-06-04
2023-06-05
2023-06-06
2023-06-07
2023-06-08
2023-06-09
2023-06-10
2023-06-11
2023-06-12
2023-06-13
2023-06-14
2023-06-15
2023-06-16
2023-06-17
2023-06-18
2023-06-19
2023-06-20
2023-06-21
2023-06-22
2023-06-23
2023-06-24
2023-06-25
2023-06-26
2023-06-27
2023-06-28
2023-06-29
2023-06-30
2023-07-01
2023-07-02
2023-07-03
2023-07-04
2023-07-05
2023-07-06
2023-07-07
2023-07-08
2023-07-09
2023-07-10
2023-07-11
2023-07-12
2023-07-13
2023-07-14
2023-07-15
2023-07-16
2023-07-17
2023-07-18
2023-07-19
2023-07-20
2023-07-21
2023-07-22
2023-07-23
2023-07-24
2023-07-25
2023-07-26
2023-07-27
2023-07-28
2023-07-29
2023-07-30
2023-07-31
2023-08-01
2023-08-02
2023-08-03
2023-08-04
2023-08-05
2023-08-06
2023-08-07
2023-08-08
2023-08-09
2023-08-10
2023-08-11
2023-08-12
2023-08-13
2023-08-14
2023-08-15
2023-08-16
2023-08-17
2023-08-18
2023-08-19
2023-08-20
2023-08-21
2023-08-22
2023-08-23
2023-08-24
2023-08-25
2023-08-26
2023-08-27
2023-08-28
2023-08-29
2023-08-30
2023-08-31
2023-09-01
2023-09-02
2023-09-03
2023-09-04
2023-09-05
2023-09-06
2023-09-07
2023-09-08
2023-09-09
2023-09-10
2023-09-11
2023-09-12
2023-09-13
2023-09-14
2023-09-15
2023-09-16
2023-09-17
2023-09-18
2023-09-19
2023-09-20
2023-09-21
2023-09-22
2023-09-23
2023-09-24
2023-09-25
2023-09-26
2023-09-27
2023-09-28
2023-09-29
2023-09-30
2023-10-01
2023-10-02
2023-10-03
2023-10-04
2023-10-05
2023-10-06
2023-10-07
2023-10-08
2023-10-09
2023-10-10
2023-10-11
2023-10-12
2023-10-13
2023-10-14
2023-10-15
2023-10-16
2023-10-17
2023-10-18
2023-10-19
2023-10-20
2023-10-21
2023-10-22
2023-10-23
2023-10-24
2023-10-25
2023-10-26
2023-10-27
2023-10-28
2023-10-29
2023-10-30
2023-10-31
2023-11-01
2023-11-02
2023-11-03
2023-11-04
2023-11-05
2023-11-06
2023-11-07
2023-11-08
2023-11-09
2023-11-10
2023-11-11
2023-11-12
2023-11-13
2023-11-14
2023-11-15
2023-11-16
2023-11-17
2023-11-18
2023-11-19
2023-11-20
2023-11-21
2023-11-22
2023-11-23
2023-11-24
2023-11-25
2023-11-26
2023-11-27
2023-11-28
2023-11-29
2023-11-30
2023-12-01
2023-12-02
2023-12-03
2023-12-04
2023-12-05
2023-12-06
2023-12-07
2023-12-08
2023-12-09
2023-12-10
2023-12-11
2023-12-12
2023-12-13
2023-12-14
2023-12-15
2023-12-16
2023-12-17
2023-12-18
2023-12-19
2023-12-20
2023-12-21
2023-12-22
2023-12-23
2023-12-24
2023-12-25
2023-12-26
2023-12-27
2023-12-28
2023-12-29

In [10]:
if not firebase_admin._apps:
    cred = credentials.Certificate('./firebase.json')
    firebase_admin.initialize_app(cred)

db = firestore.client()

for _, row in data.iterrows():
    
    doc_id = str(row['Date'].date())
    row_dict = row.to_dict()

    db.collection('NewData').document(doc_id).set(row_dict)